{{ define "main" }}

    <div class="island mb-4">

        {{ partial "post-figure.html" . }}

        <header class="island-header relative">
            {{ $img := .Resources.GetMatch .Params.avatar.image }}
            {{ if $img }}

            <ul class="avatar-list absolute -top-24 md:-top-36 end-4">
                <li class="avatar-list-item">
                    <div class="avatar avatar-2x border-b-8">
                        <img 
                        src="{{ $img.RelPermalink }}" 
                        alt="{{ .LinkTitle }}"
                        class="inline-block max-w-16" />
                    </div>
                </li>
            </ul>

            {{ end }}
            
            <h2 class="text-2xl">{{ .Title }}</h2>
        </header>

        {{ with .Params.description }}
            <div class="island-body text-muted">
                {{ . }}
            </div>
        {{ end }}
    </div>

    {{ range .Pages }}
        {{ partial "post-card.html" . }}
    {{ end }}

{{ end }}

{{ define "side" }}
    {{ partial "translations.html" . }}
{{ end }}
