{{ if eq .Type "alert" }}
    <figure class="island text-base not-prose mb-4 alert-{{ .AlertType }}">
        <div class="flex p-2 gap-2 md:p-4 md:gap-4 items-center">
            <i class="block size-6 md:size-10">
                {{- if eq .AlertType "note" -}}
                    {{- partial "icon" "information-circle" -}}
    
                {{ else if eq .AlertType "warning" }}
                    {{- partial "icon" "exclamation-circle" . -}}
    
                {{- else if eq .AlertType "important" -}}
                    {{- partial "icon" "exclamation-circle" . -}}
    
                {{- else if eq .AlertType "caution" -}}
                    {{- partial "icon" "exclamation-triangle" . -}}
    
                {{- else if eq .AlertType "tip" -}}
                    {{- partial "icon" "light-bulb" . -}}
                    
                {{- end -}}
            </i>

            <div class="flex-1 flex flex-col gap-2">
                {{ with .AlertTitle }}
                    <h4 class="alert-title uppercase font-semibold">{{ . }}</h4>
                {{ end }}
                <div>
                    {{ .Text }}
                </div>
            </div>
        </div>
    </figure>
{{ else }}
    <figure class="island text-base mb-4 not-prose">
        <blockquote class="island-body" {{ with .Attributes.cite }}cite="{{ . }}"{{ end }}>
            {{ .Text }}
        </blockquote>
        {{ with .Attributes.caption }}
            <figcaption class="blockquote-caption island-footer text-sm text-muted">
                {{ . | safeHTML }}
            </figcaption>
        {{ end }}
    </figure>
{{ end }}
