{{ define "head-append" }}

    {{ with .Paginator.Prev }}
        <link rel="prev" href="{{ .URL }}">
    {{ end }}

    {{ with .Paginator.Next }}
        <link rel="next" href="{{ .URL }}">
    {{ end }}

{{ end }}

{{ define "main" }}

    {{ partial "main-island.html" . }}
 
    {{ range .Paginator.Pages }}
        {{ partial "post-card.html" . }}
    {{ end }}

    {{ partial "page-nav.html" (dict "paginator" .Paginator "page" .) }}

{{ end }}

{{ define "side" }}

    {{ partial "translations" . }}

{{ end }}
