<nav class="island mb-4 md:mb-6 pt-4 md:pt-0 sticky top-0 z-20">
    <div class="true-grid">
        <div class="true-grid-main flex flex-col gap-4 md:flex-row items-center justify-between">

            <div class="flex items-center">
                <h1 class="flex items-center">
                    <a href="{{ "/" | relLangURL }}" class="flex items-center">
                        {{ $logo := resources.GetMatch site.Params.logo }}
                        {{ if $logo }}
                            <img 
                                width="{{ $logo.Width }}"
                                height="{{ $logo.Height }}"
                                src="{{ $logo.RelPermalink }}" 
                                alt="{{ site.Title }}" 
                                class="site-icon inline-block max-h-8 me-2 w-auto">
                            <span class="site-title">{{ site.Title }}</span>
                        {{ else }}
                            <span class="site-title">{{ site.Title }}</span>
                        {{ end }}
                    </a>
                </h1>
                <button class="hidden dark:inline-block size-6 ms-1 cursor-pointer theme-item js-sun">
                    {{- partial "icon" "sun" -}}
                </button>
                <button class="inline-block dark:hidden size-6 ms-1 cursor-pointer theme-item js-moon">
                    {{- partial "icon" "moon" -}}
                </button>
            </div>

            <ul class="nav-menu flex gap-2 p-0" id="nav-content">
                {{ $currentPage := . }}
                {{ range site.Menus.main }}
                    <li>
                        {{ $itemActive := false }}
                        {{ if $currentPage.IsMenuCurrent .Menu . }}
                            {{ $itemActive = true }}
                        {{ else if $currentPage.HasMenuCurrent .Menu . }}
                            {{ $itemActive = true }}
                        {{ end }}

                        <a href="{{ .URL | relLangURL }}" 
                            {{ with $itemActive }}
                                class="menu-item active"
                            {{ else }}
                                class="menu-item"
                            {{ end }}
                            {{ with .Params.target }}target="{{ . }}"{{ end }}
                            {{ with $itemActive }}aria-current="true"{{ end }}
                            class="menu-item active">
                            {{ with .Params.icon }}
                                <i class="icon">
                                    {{- partial "icon" . -}}
                                </i>
                            {{ else }}
                                <span>{{ .Params.icon }}</span>
                            {{ end }}
                            <span class="sr-only">{{ .Name }}</span>
                        </a>
                        
                    </li>
                {{ end }}
            </ul>

        </div>
    </div>
</nav>
