{{ if not .Params.cover.image }}
    <figure class="island-img min-h-20 relative ">
        <a 
            href="{{ .RelPermalink }}"
            title="{{ .Title }}"
            class="block w-full no-image"></a>
        {{ partial "post-figure-authors.html" . }}
    </figure>

{{ else if strings.HasPrefix .Params.cover.image "http" }}

    {{ $cover := resources.GetRemote .Params.cover.image }}
    {{ if $cover }}
        <figure class="island-img relative">
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                <img 
                    src="{{ $cover.RelPermalink }}" 
                    alt="{{ default .Title .Params.cover.alt }}" 
                    width="{{ $cover.Width }}"
                    height="{{ $cover.Height }}"
                    class="block mx-auto">
            </a>

            {{ partial "post-figure-authors.html" . }}
        </figure>
    {{ end }}

{{ else }}

    {{ $cover := .Resources.GetMatch .Params.cover.image }}
    {{ if $cover }}
        <figure class="island-img relative">
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                <img 
                    src="{{ $cover.RelPermalink }}" 
                    alt="{{ default .Title .Params.cover.alt }}" 
                    width="{{ $cover.Width }}"
                    height="{{ $cover.Height }}"
                    class="block mx-auto">
            </a>

            {{ partial "post-figure-authors.html" . }}
        </figure>

    {{ else }}

        {{ $globalCover := resources.GetMatch .Params.cover.image }}
        {{ if $globalCover }}
            <figure class="island-img relative">
                <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                    <img 
                        src="{{ $globalCover.RelPermalink }}" 
                        alt="{{ default .Title .Params.cover.alt }}" 
                        width="{{ $globalCover.Width }}"
                        height="{{ $globalCover.Height }}"
                        class="block mx-auto">
                </a>

                {{ partial "post-figure-authors.html" . }}
            </figure>
        {{ end }}

    {{ end }}

{{ end }}
