<article class="">

    <div class="island mb-4">
        {{ partial "post-figure.html" . }}

        <header class="island-header relative">
            <h1 class="text-2xl">{{ .Title }}</h1>
        </header>
    
        <div class="island-body">
            <div class="prose max-w-none prose-gray dark:prose-invert prose-p:leading-relaxed">
                {{ .Content }}
            </div>
        </div>

        <footer class="island-footer flex flex-wrap gap-2 justify-between">
            {{- partial "post-date.html" . -}}
            {{- partial "post-tags.html" . -}}
        </footer>
    </div>

    <div class="button-group gap-4 mb-4 flex items-stretch">
        {{- with .Next -}}
            <a href="{{ .RelPermalink }}"
                class="button flex-1 flex gap-2 items-center justify-start">
                <i class="icon">
                    {{- partial "icon" "chevron-left" -}}
                </i>

                <span>{{ .Title }}</span>
            </a>
        {{- else -}}
            {{/*  <span class="button disabled flex flex-1 gap-2 items-center justify-start">
                {{ partial "icon" "chevron-left" }}

                <span>&nbsp;</span>
            </span>  */}}
            <span class="button flex-1 disabled"></span>
        {{- end -}}

        {{- with .Prev -}}
            <a 
                href="{{ .RelPermalink }}"
                class="button flex-1 flex gap-2 items-center justify-end">

                <span>{{ .Title }}</span>

                <i class="icon">
                    {{ partial "icon" "chevron-right" }}
                </i>
            </a>
        {{- else -}}
            {{/*  <span class="button disabled flex-1 flex gap-2 items-center justify-end">
                <span>&nbsp;</span>

                {{ partial "icon" "chevron-right" }}
            </span>  */}}
            <span class="button flex-1 disabled"></span>
        {{- end -}}
    </div>

</article>
