{{- if .TableOfContents }}
    {{- if ne .TableOfContents `<nav id="TableOfContents"></nav>` }}
        <div class="island mb-4">
            <header class="island-header flex items-center justify-start gap-2 text-muted">
                <i class="icon">
                    {{- partial "icon" "bars-3-bottom-left" -}}
                </i>
                
                {{ i18n "article.toc" }}
            </header>
            <div class="island-body prose dark:prose-invert prose-a:no-underline prose-a:hover:underline text-sm">
                {{ .TableOfContents }}
            </div>
        </div>
    {{- end }}
{{- end }}
